.header{
    position: fixed;
    right: 5%;
    top: 4.5%;
    z-index: 44;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#0f172a;
        border-radius: 25px;
        position: relative;
        z-index: 2;
    }
}