.main {
  .title {
    font-size: 1.5em;
    font-weight: 600;
  }

  h1 {
    padding: 20px;
    font-size: 20px;
    max-width: 100%;
    font-weight: 400;
    padding-top: 170px;
  }
}

@media screen and (max-width: 640px) {
  .main {
    .title {
      font-size: 1.5em;
      font-weight: 600;
    }

    h1 {
      font-size: 4vw;
      padding-bottom: 50px;
      padding-top: 150px;
    }
  }
}